<div class="calc-term">
  <button class="calc-term__delete" ng-click="term.remove()">X</button>
  <div class="calc-term__input calc-term__input--first">
    <label class="calc-term__input-label" for="weight-input-{{term.key}}">Weight</label>
    <input class="calc-term__input-box" id="weight-input-{{term.key}}" ng-model="term.weight" ng-change="term.update()" placeholder="e.g. 50" type="number" autocomplete="off" />
  </div>
  <div class="calc-term__input">
    <label class="calc-term__input-label" for="value-input-{{term.key}}">Value</label>
    <input class="calc-term__input-box" id="value-input-{{term.key}}" ng-model="term.value" ng-change="term.update()" placeholder="e.g. 100" type="number" autocomplete="off" />
  </div>
</div>