$font-family: Helvetica, sans-serif;
$border-color-primary: #eee;
$workspace-background-color: #eee;
$form-padding-right: 12px;



html, body {
  font: 100% $font-family;
  margin: 0;
}

.page__header {
  padding: 0 1em;
}

.page__header h1 {
  font-size: 1.8em;
  padding: .8em 0;
  margin: 0;
}

.page__footer {
  border-top: 1px solid $border-color-primary;
  padding: .5em 1em;
}

.page__copyright {
  font-size: .5em;
  padding: 0;
  margin: 0;
}

.workspace {
  background-color: $workspace-background-color;
  padding: 1em;
}

.calc-term {
  background-color: white;
  padding: 1em;
  overflow: hidden;
}

.calc-term__input {
  float: left;
  margin: 0 0 1em;
  width: 50%;
  text-align: right;
}

.calc-term__input-label {
  margin-right: $form-padding-right;
  font-size: 0.8em;
}

.calc-term__input-box {
  box-sizing: border-box;
  border: 1px solid black;
  width: 100%;
  font-size: 1.4em;
  padding: 0.5em $form-padding-right;
  text-align: right;
  margin-top: 0.2em;

  .calc-term__input--first & {
    border-right-color: white;
  }
}














