$font-weight-base: 100;
$font-size-base: 16px;
$line-height-base: 1.4;
$head-font: 'Open Sans', Helvetica, sans-serif;
$copy-font: Roboto, Helvetica, sans-serif;
$font: $font-weight-base #{$font-size-base}/#{$line-height-base} $copy-font;

$min-page-width: 320px;
$max-page-width: 720px;

$form-padding-right: 12px;
$border-color: #bbb;
$solution-color: #f9fbfd;
$solution-border-color: #eaecef;
$btn-hover-color: #fafcff;
$btn-active-color: #f1f3f9;



.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.button {
  width: 100%;
  border: 1px solid $border-color;
  background-color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: $btn-hover-color;
  }

  &:active {
    background-color: $btn-active-color;
  }
}

html, body {
  font: $font;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: $min-page-width;
  max-width: $max-page-width;
}

html {
  background-color: #f0f5fa;
}

body {
  background-color: #fff;
}

input, button {
  font: $font;
}

.page__header {
  padding: 0 1em;
}

.page__header h1 {
  font-size: 2.5em;
  padding: 0.5em 0 0;
  margin: 0;
  text-align: center;
  font-weight: 100;
  font-family: $head-font;
}

.page__copyright {
  font-size: .5em;
  padding: 0;
  margin: 0;
}

.workspace {
  padding: 1em;
}

.calc-term {
  background-color: white;
  padding: 1em 0;

  @extend .clearfix;
}

.calc-term__field {
  float: left;
}

.calc-term__field--tools {
  width: 14%;
}

.calc-term__field--input {
  width: 43%;
}

.calc-term__label {
  margin: 0 $form-padding-right 0.25em 0;
  font-size: 0.8em;
  text-align: right;

  .calc-term__field--tools & {
    margin-right: 0;
    text-align: center;
  }
}

.calc-term__input {
  border: 1px solid $border-color;
  width: 100%;
  height: 50px;

  &:not(.calc-term__input--last) {
    border-right: none;
  }
}

.calc-term__delete {
  @extend .button;
  border: none;
  padding: 12px 0;
  height: 100%;
}

.calc-term__delete-icon {
  height: 100%;
}

.calc-term__input-box {
  box-sizing: border-box;
  border: none;
  background-color: white;
  width: 100%;
  height: 100%;
  font-size: 1.4em;
  padding: 0.5em $form-padding-right;
  text-align: right;
}

.add-term {
  @extend .button;
  margin: 2*$font-size-base 0 8*$font-size-base;
  font-size: 0;
}

.add-term__icon {
  height: 3 * $font-size-base;
}

.calc-solution {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-width: $min-page-width;
  max-width: $max-page-width;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;
  border-top: 1px solid $solution-border-color;
  background-color: $solution-color;
}

.calc-solution__answer {
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 2.5em;
}




@media (min-width: $max-page-width) {
  .workspace, .calc-solution {
    padding: 1em 2em;
  }
}