container_commands:
  01_node_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node /bin/node"
  02_npm_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/npm /bin/npm"
  03_npm_install:
    command: "npm install"
  04_bower_install:
    command: "export PATH=$PATH; ./node_modules/bower/bin/bower install --allow-root"
  05_gulp:
    command: "./node_modules/.bin/gulp
option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: nginx
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /build
    value: /build
  - option_name: NODE_ENV
    value: production