container_commands:
  01_node_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node /bin/node"
  02_npm_install:
    command: npm install
  03_bower_install:
    command: bower install --allow-root
    env:
      "PATH": "/usr/bin"
  04_gulp:
    command: gulp
option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: nginx
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /build
    value: /build
  - option_name: NODE_ENV
    value: production