container_commands:
  01_bower_install:
    command: bower install
  02_gulp:
    command: gulp
option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: nginx
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /build
    value: /build